In [1]:
class Name():
    
    def __init__(self, first_name, last_name):
        self.first_name = first_name.capitalize()
        # self.first_name = first_name.title()
        self.last_name = last_name.capitalize()
        self.full_name = self.first_name + ' ' + self.last_name
        self.initials = self.first_name[0] + '.' + self.last_name[0]

In [3]:
n = Name('jOhn', 'SMITH')
print(n.first_name)
print(n.last_name)
print(n.full_name)
print(n.initials)

John
Smith
John Smith
J.S

In [11]:
class Calculator:
            
    def add(self, a, b):
        return a + b
    
    def substract(self, a, b):
        return a - b
    
    def multiply(self, a, b):
        return a * b
    
    def divide(self, a, b):
        return a / b

In [13]:
c = Calculator()
print(c.add(10, 5))
print(c.substract(10, 5))
print(c.multiply(10, 5))
print(c.divide(10, 5))

15
5
50
2.0

In [23]:
class Employee:
    
    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
    
    @classmethod
    def from_string(cls, input_str):
        data = input_str.split('-')
        return cls(data[0], data[1], int(data[2]))
    
        first_name, last_name, salary = input_str.split('-')
        return cls(first_name, last_name, int(salary))

In [24]:
e1 = Employee('Mary', 'Sue', 60000)
e2 = Employee.from_string('John-Smith-50000')

In [25]:
e1.salary

60000

In [26]:
e2.salary

50000